body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 67%);
}


#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid;
    border-color: hsl(0, 0%, 30%);
    background-color:  hsl(0, 0%, 20%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
    border: solid;
    border-color: hsl(35, 100%, 75%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 75%);
}
.colour-btn-red{
    background-color: hsl(0, 100%, 50%);
    border: solid;
    border-color: hsl(0, 100%, 70%);
}
.colour-btn-red:hover{
    background-color: hsl(0, 100%, 70%);
    border: solid;
    border-color: hsl(0, 100%, 70%);
}
.colour-btn-green{
    background-color: hsl(113, 100%, 50%);
    border: solid;
    border-color: hsl(113, 100%, 70%);
}
.colour-btn-green:hover{
    background-color: hsl(113, 100%, 70%);
    border: solid;
    border-color: hsl(113, 100%, 70%);
}
.colour-btn-blue{
    background-color: hsl(229, 100%, 50%);
    border: solid;
    border-color: hsl(229, 100%, 70%);
}
.colour-btn-blue:hover{
    background-color: hsl(229, 100%, 70%);
    border: solid;
    border-color: hsl(229, 100%, 70%);
}